{% extends "layout.html" %}

{% block page_title %}
How to write for DWP Digital
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <br/><br/>
      <h1 class="heading-xlarge">
        How to write for DWP Digital
      </h1>{{releaseVersion | log }}
      <p>
        DWP Digital’s vision: “Everything we do is about changing lives by providing security, extending opportunity and giving people in our society the support they need.”
      </p>

      <p>
        As someone who writes for DWP Digital, your challenge is to:
        <ol class="list-bullet">
          <li>position the department as being modern and people-focused</li>
          <li>express the vision in a way that makes your colleagues feel excited to be part of it and makes people looking for career opportunities want to work here</li>
        </ol>
      </p>
      <p>There are 2 ways you can do this.</p>

      <h2 class="heading-medium">1. Be clear and consistent</h2>

      <p>You should:
        <ol class="list-bullet">
          <li>use the <a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">GOV.UK style guide</a></li>
          <li>use the <a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk">GOV.UK writing guide</a></li>
          <li>follow the <a href="https://insidegovuk.blog.gov.uk/2017/02/08/guest-post-sharing-some-user-centred-content-principles/">government content principles</a></li>
          <li><a href="https://www.gov.uk/guidance/content-design/user-needs">understand who you’re writing for and what they need</a></li>
        </ol>
      </p>

			<h2 class="heading-medium">2. Show don't tell</h2>

			<p>Show the reader what we’re doing to achieve our vision by sharing examples of our work. Don’t tell them it’s innovative or exciting - show them it is through the stories you tell. Using jargon and relying on adjectives can come across as disingenuous.</p>

      <p>There will be information you need to share that isn’t exciting. For example, you might need to tell people they must update their details for payroll. That’s OK. Be clear and tell them what they need to do.</p>

      <p>Let our work speak for itself - it doesn’t need any spin.</p>

      <h2 class="heading-medium">Before you publish your content, make sure:</h2>

      <ol>
        <li>&#9744; it's written to style</li>
        <li>&#9744; it's written with the user in mind</li>
        <li>&#9744; it's in plain English</li>
        <li>&#9744; every word is essential</li>
        <li>&#9744; you know how to measure its success</li>
        <li>&#9744; it's been checked by someone else</li>
      </ol>

    </div>
  </div>
</main>

{% endblock %}
