{% extends "layout.html" %}

{% block page_title %}
How to write for DWP Digital
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <br/><br/>
      <h1 class="heading-xlarge">
        How to write for DWP Digital
      </h1>{{releaseVersion | log }}
      <p>
        DWP Digital’s vision is to 'change lives by providing security, extending opportunity and giving people in our society the support they need'.
      </p>

      <p>
        As someone who writes for DWP Digital, your challenge is to:
        <ol class="list-bullet">
          <li>express the vision in a way that makes your colleagues feel excited to be part of it and makes people looking for career opportunities want to work here</li>
          <li>position the department as being modern and people-focused</li>
        </ol>
      </p>
      <p>You can do this in 2 ways.</p>

      <h2 class="heading-medium">1. Use language that's clear, consistent and human</h2>

      <p>You're writing for your colleagues or people who are interested in working for DWP. Make sure you use words that they'll understand easily. That means using the active voice, contractions and the first person. And avoiding jargon, abbreviations and acronyms.</p>
      <p>For example, don't write:</p>
      <p>"New technological devices are being rolled out to core sites in the near future."</p>
      <p>Instead, try:</p>
      <p>"If you work in one of these offices, you'll be given a new Surface Pro computer in July."</p>
      <p>Everything you write for DWP Digital must follow:</p>

      <p>
        <ol class="list-bullet">
          <li>the <a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">GOV.UK style guide</a></li>
          <li>the <a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk">GOV.UK writing guide</a></li>
          <li>the <a href="https://insidegovuk.blog.gov.uk/2017/02/08/guest-post-sharing-some-user-centred-content-principles/">government content principles</a></li>
        </ol>
      </p>

			<h2 class="heading-medium">2. Show don't tell</h2>

			<p>Let our work speak for itself. It doesn't need any spin. Share examples to show the reader what we're doing to achieve our vision. Don't tell them it's innovative or exciting - show them it is through the stories you tell.</p>

      <p>There will be information you need to share that isn’t exciting. For example, you might need to tell people they must update their details for payroll. That’s OK. Be clear and tell them what they need to do.</p>

      <p>For example, don't write:</p>

      <p>"There's a cutting-edge new payroll system being introduced. Don't miss out - update your details today."</p>

      <p>Instead, try:</p>

      <p>"You must add your bank details to the new payroll system by Friday 30 September. If you need help, ask your line manager."</p>

      <h2 class="heading-medium">Before you publish your content, make sure:</h2>

      <ol>
        <li>&#9744; it's written with the user in mind</li>
        <li>&#9744; it's in the active voice</li>
        <li>&#9744; the title clearly tells the reader what the content is about</li>
        <li>&#9744; the most important words are near the start of the title</li>
        <li>&#9744; the first paragraph doesn't repeat the title</li>
        <li>&#9744; the most important points for the reader are early in the content</li>
        <li>&#9744; each paragraph is about one topic</li>
        <li>&#9744; each paragraph is a maximum of 4 lines long</li>
        <li>&#9744; subheadings, bullet points or numbers are used to break up chunks of information</li>
        <li>&#9744; sentences are a maximum of 25 words long</li>
        <li>&#9744; jargon, technical terms, acronyms and abbreviations are avoided (or, if absolutely necessary, explained)</li>
        <li>&#9744; every word is essential</li>
        <li>&#9744; you know how to measure its success</li>
        <li>&#9744; it's been checked by someone else</li>
      </ol>

    </div>
  </div>
</main>

{% endblock %}
